#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.red-row {
  background-color: #ffe6e6;
}

body {
  background-color: #f5f7fa; /* สีพื้นหลังเว็บที่ดูสบายตา */
}

.ant-layout-content {
  padding: 24px;
  max-width: 1400px;
  margin: 0 auto;
}

.ant-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border: none;
}

.ant-table {
  background: white;
  border-radius: 8px;
}


.red-row {
  background-color: #fff1f0 !important;
}

.red-row:hover > td {
  background-color: #ffccc7 !important;
}